affine==2.3.0
aiodns==3.0.0
aiohttp==3.7.4.post0
aiohttp-client-cache==0.5.1
aiosqlite==0.17.0
appdirs==1.4.4
async-retriever==0.2.4
async-timeout==3.0.1
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.10.0
branca==0.4.2
brotlipy==0.7.0
cattrs==1.8.0
cchardet==2.1.7
certifi==2021.10.8
cffi==1.15.0
cftime==1.5.1
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
cycler==0.10.0
cytoolz==0.11.0
dask==2021.9.1
dataretrieval==0.7
decorator==5.1.0
defusedxml==0.7.1
Fiona==1.8.20
folium==0.12.1
fsspec==2021.10.1
future==0.18.2
geojson==2.5.0
geopandas==0.10.2
hydrofunctions==0.2.1
idna==3.3
ipython==7.28.0
isodate==0.6.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.2
kiwisolver==1.3.2
locket==0.2.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
multidict==5.2.0
munch==2.5.0
nest-asyncio==1.5.1
netCDF4==1.5.7
networkx==2.6.3
numpy==1.21.2
OWSLib==0.25.0
packaging==21.0
pandas==1.3.4
parso==0.8.2
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pyarrow==5.0.0
pycares==4.1.2
pycparser==2.20
pydantic==1.8.2
pygeohydro==0.11.2
pygeoogc==0.11.5
pygeoutils==0.11.6
Pygments==2.10.0
pynhd==0.11.3
pyparsing==2.4.7
pyproj==3.2.1
python-dateutil==2.8.2
python-forge==18.6.0
pytz==2021.3
PyYAML==6.0
rasterio==1.2.10
requests==2.26.0
requests-cache==0.8.1
scipy==1.7.1
Shapely==1.7.1
simplejson==3.17.5
six==1.16.0
snuggs==1.4.7
soupsieve==2.2.1
suds-jurko==0.6
toolz==0.11.1
traitlets==5.1.0
typing-extensions==3.10.0.2
ujson==4.2.0
ulmo==0.8.8
url-normalize==1.4.3
urllib3==1.26.7
wcwidth==0.2.5
wellapplication==0.5.6
xarray==0.19.0
xlrd==2.0.1
xmltodict==0.12.0
yarl==1.7.0
